.theme-dark:root {
    --tv-color-platform-background: #17161d;
    --tv-color-pane-background: #17161d;
    --tv-color-pane-background-secondary: #17161d;
}

.theme-light:root {
    --tv-color-platform-background: #ffffff;
    --tv-color-pane-background: #ffffff;
    --tv-color-pane-background-secondary: #ffffff;
}